<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">


         <!-- template variable   (#variablename )-->
            <div class="mb-3">

                <input type="text" name="" id="" class="form-control" #inpt1 placeholder="enter the number">
            </div>

            
            <div class="mb-3">

                <input type="text"  class="form-control" #inpt2 placeholder="enter second number">
            </div>
            


            <!-- event binding(event) -->
            <div class="mb-3">


                <button class="btn btn-info" (click)=" addNumber(inpt1,inpt2)">add</button>
            </div>



        </div>







  




        <div class="col-2"></div>


output={{result}}











    </div>

















</div>
